.color-title{
  font-weight:normal  
}
img{
    height: 90px;
    width: 90px;
}
#red{
    color:red
}
#blue{
    color:blue
}
#orange{
    color:orange
}
#green{
    color:green
}
#yellow{
    color:yellow
}